# Игнорируем виртуальные окружения (например, venv)
venv/

# Игнорируем файлы и папки, связанные с IDE (например, PyCharm, VSCode)
.idea/
.vscode/

# Игнорируем файлы с расширением .pyc и кэшированные файлы Python
*.pyc
__pycache__/

# Игнорируем системные файлы (например, .DS_Store на macOS)
.DS_Store

# Игнорируем папку с изображениями, если она не нужна в репозитории
# (например, если изображения большие или находятся в облачном хранилище)
images/

# Игнорируем файлы модели .h5, если решишь не добавлять их в репозиторий
# (например, если ты хочешь сохранить модель в другом месте или не загружать её в репозиторий)
*.h5
